* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(222, 222, 222);
}

.header {
  display: flex;
  width: 100%;
  height: 101px;
  background-color: white;
  align-items: center;
}

.hamburger-icon {
  display: none;
}

.logo {
  display: flex;
  flex: 1;
  height: 100px;
  justify-content: center;
  cursor: pointer;
}

#logo_img {
  width: 160px;
  height: 100px;
}

.between {
  flex: 1;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
  height: 100px;
}

.mitem {
  display: inline-block;
  padding: 40px 15px 40px 15px;
  margin-left: 30px;
}

li {
  font-weight: 600;
  font-size: 16px;
  color: #0d016b;
  cursor: pointer;
  letter-spacing: 1px;
}
li:hover {
  transform: 2s;
  color: #a20fc2;
}

ul {
  display: flex;
}
.menublock {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
}
.menublockinside {
  display: flex;
  border-top: 1px solid #d3d3d3;
  width: 1370px;
  height: 380px;
}
.leftMblock {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 380px;
}
.middleMblock {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 380px;
}

.rightMblock {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 380px;
  justify-content: right;
}
.block2text {
  color: #0d016b;
  font-weight: 500;
}
.block2text:hover {
  transform: 2s;
  color: #a20fc2;
}
@media only screen and (max-width: 480px) {
  ul {
    display: none;
  }

  #logo_img {
    width: 130px;
    height: 80px;
  }
  .logo {
    align-items: center;
  }

  .hamburger-icon {
    flex: 1;
    display: block;
  }
  .menublock {
    border-top: 1px solid #d3d3d3;
    width: 100%;
    height: 450px;
    background-color: white;
  }
  .menublock {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  ul {
    display: none;
  }

  #logo_img {
    width: 130px;
    height: 80px;
  }
  .logo {
    align-items: center;
  }
  .hamburger-icon {
    flex: 1;
    display: block;
  }
  .menublock {
    display: none;
  }
}
